.header{
  display: flex;
  position: fixed;
  background-color: rgb(228, 199, 66);
  left: 0px;
  right: 0px;
  top: 0px;
  height: 60px;
  align-items: center;
}

.header h2{
  margin-left: 20px;
}

.nav{
  position: absolute;
  right: 200px;
}

.nav li{
  display: inline;
}

.nav li button{
  background-color: transparent;
  border: none;
  font-size: 12pt;
  margin-left: 20px;
  padding: 8px;
}

.nav li button:hover{
  background-color: lightcoral;
  border-radius: 10px;
}

nav li button.active{
  border-radius: 10px;
  background-color: lightcoral;
}

@media all and (max-width: 800px){
  .header h2{
    margin-left: 5px;
  }
  .nav{
    right: 100px;
  }
}

@media all and (max-width: 600px){
  .nav{
    right: 50px;
  }

  .nav li button{
    font-size: 11pt;
    margin-left: 8px;
    padding: 7px 4px 7px 4px;
  }
}

@media all and (max-width: 500px){
  .nav{
    right: 10px;
  }
}

@media all and (max-width: 418px){
  .nav{
    right: 5px;
  }
  .nav li button{
    margin-left: 0.5px;
    padding: 7px 2px 7px 2px;
  }
  .header h2{
    font-size: 13pt;
  }
}