.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(40%);
}

.container{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(212, 72, 33);
  flex-direction: column;
  border:none;
  border-radius: 5px;
  margin: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.input{
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 30px;
}

.controls{
  display: flex;
  flex-direction: column; 
  gap: 40px;
}

.buttons{
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.buttons button{
  border: none;
  width: 80px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(221, 145, 52);
}

.buttons button:hover{
  background-color: rgb(227, 171, 103);
}

.clearAll,
.contactList
{
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.clearAll{
  align-items: self-end;
}

.clearAll h3{
  background-color: white;
  width: 20px;
  border-radius: 50%;
}

.contactList h2,
.clearAll h3
{
  margin: 10px;
}

.clearAll button,
.contactList button{
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.contactList button{
  background-color: blueviolet;
}
